@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Vital para que Fullscreen no deje bordes */
  width: 100%;
  overflow: hidden;
  /* Evita scrolls dobles que descentran el visor */
  background-color: #000000;
}

/* Animación para que la entrada del visor sea fluida */
.viewer-fade-in {
  animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Scrollbar minimalista para el historial */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(59, 130, 246, 0.3);
  border-radius: 10px;
}